body{
    background-image: url(1354206.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: calc(100%);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

}
.wrapper{
    color:rgba(255, 255, 255, 0.829);
    font-style: italic;
    height: 420px;
    width: 400px;
    text-align: center;
    background: transparent;
    border-style: solid;
    border-radius: 10%;
    border-bottom: 10%;
    border-color: rgba(148, 11, 57, 0.466);
    background-color: rgba(153, 34, 64, 0.623);
}


.input-box input{
height: 40%;
text-align: center;
justify-content: center;
width: 60%;
margin:2em 2cm;
font-style: italic;
}

.wrapper .input-box{
    height: 70px;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
   
    
}
.wrapper .button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black;
}
.wrapper .button:hover{
  font-style: italic;
  background-color: #94055870;
}
#A{
color: rgb(231, 47, 103);
font-size: large;
}